<% include ../partials/header %>
<div class="row justify-content-center">
  <div class="col-md-12 text-center"><h1>Edit <%= recipe.name %></h1></div>
  <div class="col-xs-12 col-md-6 col-lg-4">
    <form
    id="edit-recipe-form"
      action="/recipes/<%= recipe._id %>?_method=PUT"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="form-group">
        <input
          class="form-control"
          type="text"
          name="recipe[name]"
          value="<%= recipe.name %>"
        />
      </div>
      <div class="form-group">
        <input
          class="form-control"
          type="number"
          name="recipe[price]"
          value="<%= recipe.price %>"
          min="0.00"
          step="0.01"
        />
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" id="image" name="image" accept="image/*" />
      </div>
      <div class="form-group">
        <!--<input-->
        <!--  class="form-control"-->
        <!--  type="text"-->
        <!--  name="recipe[description]"-->
        <!--  value="<%= recipe.description %>"-->
        <!--/>-->
        <textarea name='recipe[description]' cols='70' rows='7' class="form-control" placeholder="Write your description..." form="edit-recipe-form"><%= recipe.description %></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-lg btn-primary btn-block">Submit</button>
      </div>
    </form>
    <a href="/recipes/<%= recipe._id %>" class='btn btn-outline-primary btn-sm'>Go Back</a>
  </div>
</div>
<% include ../partials/footer %>
